@page
@using ProjectManagement.Models
@model ProjectManagement.Pages.PeopleModel


@{
    ViewData["Title"] = "People";
}

<p>
    <a asp-page="CreatePerson">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.People[0].DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People[0].TaskCount)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (PersonListingVM item in Model.People)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskCount)
            </td>
        </tr>
    }
    </tbody>
</table>
